@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #4A2196;
}

main {
	margin: 80px;
}
/* Parte Sobre */
.sobre {
	background-color: #4A2196;

	display: flex;
	justify-content: center;
	align-items: center;
}

.sobre__texto {


	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
}
/* Parte Sobre */

/* Parte Serviços */
.servicos {
	padding: 10px;
	background-color: #4A2196;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.servicos__titulo {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;

	font-size: 50px;
}

.servicos__tipos {
	padding-top: 30px;

	display: flex;
	flex-direction: row;
	gap: 100px;
}

.servicos__tipos__conj {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
	gap: 15px;
}

/* Buscar colocar sempre imagem 3x2 */
.servicos__tipos__img{
	width: 300px;
	height: 200px;

	border-radius: 15px;
}
/* Buscar colocar sempre imagem 3x2 */

.servicos__tipos__titulo {
	color: #ffffff;
	font-size: 25px;
}

.servicos__tipos__subtitulo {
	width: 320px;
	color: #ffffff;

	text-align: center;
}
/* Parte Serviços */

/* Parte Sobre Nós*/
.sobre-nos {


	display: flex;
	height: 65vh;
	width: 100%;
	
}

.sobre-nos__container__titulo {
	color: #ffffff;
	font-size: 50px;
}

.sobre-nos__container__subtitulo {
	text-align: left;
	color: #ffffff;
	font-size: 25px;
}

.sobre-nos__esquerda{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;

	width: 50%;
}

.sobre-nos__img {
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 25px;

	width: 50%;
}
/* Parte Sobre Nós*/